@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --color-yellow: rgb(255, 195, 0);
  --color-white: rgb(229, 229, 229);
  --color-black: rgb(36, 36, 35);
}

@layer base {
  h1 {
    font-size: 2.9em;
  }
}

body {
  font-family: var(--font-inter);
  background-color: var(--color-white);
}

