@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Kaushan+Script&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-green: #006542;
  --color-caramel: #E6BB83;

  --font-display: "Kaushan Script", cursive;
  --font-funnel: "Funnel Sans", sans-serif;
}

@layer base {
  body, html {
    width: 100%;
    height: 100%;
  }

  #root {
    height: 100%;
  }

  .app {
    color: white;
    font-family: "Funnel Sans", sans-serif;
    width: 100%;
    height: 100%;
  }

  h1 {
    font-family: "Kaushan Script", cursive;
  }
}